.epimg {
  border: black 1px;
  width: 250px;
  height: 250px;
}

body {
  background-color: #791E94;
  font-family: lobster, monospace;
  color: #FFFFF2;
}

#daddy-quote {
  padding: 50px 0px 50px 0px;

}
